﻿<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="MenuController">
    <div class="container" style="width: 100%">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding-top: 10px;padding-right: 2px">
                <img alt="BudgetMe" src="Content/app/img/icon_budget.png" />
            </a>
            <a class="navbar-brand" href="/">
                BudgetMe
            </a>
        </div>
        <div id="main-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#/budgets">
                        <i class="glyphicon glyphicon-credit-card"></i>
                        Budgets
                    </a>
                </li>
            </ul>

            <!--Right Menu-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="glyphicon glyphicon-inbox"></i> Notifications</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li><a ng-click="logoff()"><i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
