﻿<div class="col-sm-3 col-md-2 sidebar">
    <div class="sidebar-header">
        <b>Default Budget</b>
    </div>
    <ul class="nav sidebar-nav">
        <li><a href="#">Ingresos</a></li>
        <li><a href="#">Gastos</a></li>
        <li><a href="#">Proyecciones</a></li>
    </ul>
    <div class="sidebar-header">
        <b>Un Proyecto</b>
    </div>
    <ul class="nav sidebar-nav">
        <li><a href="#">Ingresos</a></li>
        <li><a href="#">Gastos</a></li>
        <li><a href="#">Proyecciones</a></li>
    </ul>
</div>