﻿<div class="container" style="width: 100%; padding-left: 0;padding-right: 0">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="Content/app/img/coins2.jpg" alt="...">
                <div class="carousel-caption">
                    <h1 style="color: black;font-weight: bold">titulo</h1>
                </div>
            </div>
            <div class="item">
                <img src="Content/app/img/balanced-budget2.jpg" alt="...">
                <div class="carousel-caption">
                    <h1 style="color: black; font-weight: bold">otro titulo</h1>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>