﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="budgetMe">
<head>
    <title>Budget Me</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/app/css/budget-main.css" rel="stylesheet" />
</head>
<body class="logon">
    <div class="container" ng-controller="LoginController">
        <div class="row">
            <div class="col-md-12">
                <div class="pr-wrap">
                    <div class="pass-reset">
                        <label>
                            Enter the email you signed up with
                        </label>
                        <input type="email" placeholder="Email" />
                        <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                    </div>
                </div>
                <div class="wrap">
                    <p class="form-title">
                        {{title}}
                    </p>
                    <form class="login" style="width: 300px; margin: 0 auto">
                        <input type="text" placeholder="Username" ng-model="userLogon.userName" />
                        <input type="password" placeholder="Password" ng-model="userLogon.password" />
                        <input type="submit" class="btn btn-success btn-sm" ng-click="login(userLogon)" value="Sign In" />
                        <div class="remember-forgot">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="userLogon.rememberMe" />
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 forgot-pass-content">
                                    <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app.run.js"></script>
    <script src="app/OAuth/AuthStorage.js"></script>
    <script src="app/OAuth/Authentication.js"></script>
    <script src="app/OAuth/AuthInterceptor.js"></script>
    <script src="app/controllers/LoginController.js"></script>
    <script src="app/controllers/WellcomeController.js"></script>
</body>
</html>
