﻿<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Outcome</h4>
    </a>
    <a href="#" class="list-group-item" ng-repeat="outcome in budget.outcomes">
        <span class="badge" ng-class="myClase(budget.outcomes[0].value)"> {{outcomeValueFormatted(outcome)}}</span>
        {{outcome.name}}
    </a>
    
</div>

