﻿<h4 class="list-group-item-heading">{{budgetItem.name}} <span class="badge badge-gray"></span></h4>
<div>
    <div class="list-group">
        <a href="#" ng-repeat="item in budgetItem.items" class="list-group-item">
            <span class="badge badge-blue">{{valueFormatted(item)}}</span>
            <span class="badge badge-blue">{{item.dueDate|date:"dd/MM/yyyy"}}</span>
            {{item.description}}
        </a>
    </div>
</div>
