﻿<div class="main-body-container">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">
                    <h4 class="list-group-item-heading">Expenses</h4>
                </li>
                <li class="list-group-item" ng-repeat="budgetItem in budget.expenses" ng-include="'Views/Budget/_budgetItems.html'">
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">
                    <h4 class="list-group-item-heading">Incomes</h4>
                </li>
                <li class="list-group-item" ng-repeat="budgetItem in budget.incomes" ng-include="'Views/Budget/_budgetItems.html'">
                </li>

            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-include="'Views/Budget/_budgetOutcome.html'">

        </div>
    </div>
</div>