﻿<div>
    <h1>Budgets</h1>
    <hr />
    <hr />
    <ul class="thumbnails">
        <li ng-repeat="budget in budgets" class="span5">
            <a href="#/budget/{{budget.id}}">
                <div class="well hoverwell">
                    <div class="row">
                        <h2 class="span6">
                            {{budget.name}}
                        </h2>
                    </div>
                    <div class="row">
                        <span class="span1">Outcome:</span>
                        <span>{{budget.outcome}}</span>
                    </div>
                    <div class="row">
                        <span class="span1">Last updated:</span>
                        <span>{{budget.lastUpdated}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>